.body {
    background-color: #fff;
    flex: 1;
    align-content: center;
    text-align: center;
    color: #bd1120;
}

.txt-1{
    color: #bd1120;
    font-size: 50px;
}

.btn-mulai{
    background-color: #bd1120;
    width: 120px;
    height: 50px;
    margin-right: 24px;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
    transition: background-color 0.3 ease;
}

.btn-mulai:hover{
    background-color: #8d0813;
}